#container{
    background-color: aquamarine;
}

/* Ponto invoca classe */
.quadrados{
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    border: black 2px dashed;
    border-radius:25px;

}